<template>
  <div class="bg-fp-blue">
    <a href="https://fedoraproject.limequery.com/2023">
      <FpImage
        src="assets/images/contributor_survey.png"
        :alt="$t('Contributor survey banner')"
        class="mx-auto w-full max-w-5xl"
      />
    </a>
  </div>
</template>
